section(class="container-fluid")
    .container
        .row
            .choosePrise-text.col-12
                h1 Выбирай призы!
        .swiper-container.choosePrise-slider
            .swiper-wrapper
                .swiper-slide.col-lg-3.col-sm-12
                    img(src="img/kettle.png" alt='kettle')
                    p Чайник
                .swiper-slide.col-lg-3.col-sm-12
                    img(src="img/kettle.png" alt='kettle')
                    p Тостер
                .swiper-slide.col-lg-3.col-sm-12
                    img(src="img/kettle.png" alt='kettle')
                    p Холодильник
            .swiper-button-next
                img(src="img/slidenext.png" alt="next arrow")
            .swiper-button-prev
                img(src="img/slideprev.png" alt="prev arrow")