section.container-fluid
    .container
        .row
            .nav-block.col-lg-2.col-md-3
                img.logo(src="img/imunele.png" alt="logo")
            .col-lg-4.col-md-6
                nav
                    ul.menu
                        li
                            a(href="#") Об акции

                            a(href="#") Призы

                            a(href="#") Победители
            .cabinet.col-lg-4.col-md-2.ml-auto
                a(href="#") Личный кабинет
                a(href="#") Добавить чек