.container-fluid
    .container.number-container
        .row
            .numbers-block.col-lg-4
                .buy
                    .number-one.h1 1
                        span:after
                            .svg  <svg width="37" height="26" viewBox="0 0 37 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.9154 0.391022C24.4113 -0.130341 23.5724 -0.130341 23.0507 0.391022C22.5466 0.89477 22.5466 1.73318 23.0507 2.23575L32.5057 11.6849H1.3054C0.578088 11.686 0 12.2638 0 12.9906C0 13.7175 0.578088 14.314 1.3054 14.314H32.5057L23.0507 23.7455C22.5466 24.2668 22.5466 25.1064 23.0507 25.609C23.5724 26.1303 24.4125 26.1303 24.9154 25.609L36.6087 13.923C37.1304 13.4192 37.1304 12.5808 36.6087 12.0782L24.9154 0.391022Z" fill="#E6E8EA"/>
                                </svg>
                    .number-heading.h2 Купи Имунеле
                    .number-txt.p
                        | Купи 6 любых бутылочек Имунели
                        br
                        |  в магазине

            .numbers-block.col-lg-4
                .register
                    .number-one.h1 2
                        span:after
                            .svg1  <svg width="37" height="26" viewBox="0 0 37 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.9154 0.391022C24.4113 -0.130341 23.5724 -0.130341 23.0507 0.391022C22.5466 0.89477 22.5466 1.73318 23.0507 2.23575L32.5057 11.6849H1.3054C0.578088 11.686 0 12.2638 0 12.9906C0 13.7175 0.578088 14.314 1.3054 14.314H32.5057L23.0507 23.7455C22.5466 24.2668 22.5466 25.1064 23.0507 25.609C23.5724 26.1303 24.4125 26.1303 24.9154 25.609L36.6087 13.923C37.1304 13.4192 37.1304 12.5808 36.6087 12.0782L24.9154 0.391022Z" fill="#E6E8EA"/>
                                </svg>
                    .number-heading.h2 Зарегистрируй чек
                    .number-txt.p
                        | Зарегистрируй чек на сайте для
                        br
                        |  участия в акции


            .numbers-block.col-lg-4
                .stock
                    .number-one.h1 3
                    .number-heading.h2 Участвуй в акции
                    .number-txt.p
                        | Загрузив чек ты автомотически
                        br
                        |  учавствуешь в акции
        .row
            .numbers-block2.col-lg-2

            .numbers-block2.col-lg-4
                .win
                    .number-one.h1 4
                        span:after
                            .svg2  <svg width="37" height="26" viewBox="0 0 37 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.9154 0.391022C24.4113 -0.130341 23.5724 -0.130341 23.0507 0.391022C22.5466 0.89477 22.5466 1.73318 23.0507 2.23575L32.5057 11.6849H1.3054C0.578088 11.686 0 12.2638 0 12.9906C0 13.7175 0.578088 14.314 1.3054 14.314H32.5057L23.0507 23.7455C22.5466 24.2668 22.5466 25.1064 23.0507 25.609C23.5724 26.1303 24.4125 26.1303 24.9154 25.609L36.6087 13.923C37.1304 13.4192 37.1304 12.5808 36.6087 12.0782L24.9154 0.391022Z" fill="#E6E8EA"/>
                                </svg>
                    .number-heading.h2 Выйграй приз
                    .number-txt.p
                        | Выбирай призы и выигрывай! Розыгрыш
                        br
                        |  проходит каждые 7 дней

            .numbers-block.col-lg-4
                .prize
                    .number-one.h1 5
                    .number-heading.h2 Участвуй в акции
                    .number-txt.p
                        | Выбирай призы и выигрывай! Розыгрыш
                        br
                        |  проходит каждые 7 дней
            .numbers-block2.col-lg-2