.container-fluid
    .container
        .row
            .ourWinners-text.col-12
                h1 Наши победители
                p Каждую неделю разыгрываются по 10 призов на выбор и один главный приз - iPhone XS Max
        .swiper-container.ourWinners-slider
            .swiper-wrapper
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/toster.png" alt='toster')
                    h2 Все призы
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/kettle.png" alt='kettle')
                    h2 Чайник
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/kettle.png" alt='kettle')
                    h2 Чайник
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/kettle.png" alt='kettle')
                    h2 Чайник
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/toster.png" alt='toster')
                    h2 Все призы
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/kettle.png" alt='kettle')
                    h2 Чайник
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/kettle.png" alt='kettle')
                    h2 Чайник
                    p 32 победителя
                .swiper-slide.col-lg-3.col-sm-12.slide-winners
                    img(src="img/kettle.png" alt='kettle')
                    h2 Чайник
                    p 32 победителя
            .swiper-button-next.nextButton
            .swiper-button-prev.prevButton