section(class='container-fluid')
    .container
        .row
            .register-check-main.col-12
                h1 Зарегистрируй чек
                p Для участия в акции добавь чек, загрузив его на сайт, и выбирай призы! Результаты розыграша проводятся по субботам каждую неделю.
                a(href='#') Добавить чек