section(class='container-fluid')
    .container
        h1.title Tabs
        .tabContainer
            .buttonContainer
                button(onclick="showPanel(0,'#fff')") 1-7 августа
                button(onclick="showPanel(1,'#fff')") 8-15 августа
                button(onclick="showPanel(2,'#fff')") 16-23 августа
                button(onclick="showPanel(3,'#fff')") 24-31 августа
            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1.tab-dates
                            p 21.09.2019
                            p 16.09.2019
                            p 16.09.2019
                            p 09.09.2019
                            p 09.09.2019
                        .col-lg-1
                        .col-lg-1.tab-names
                            p Сергей
                            p Наталья
                            p Роман
                            p Екатерина
                            p Михаил
                        .col-lg-3.tab-mail
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                        .col-lg-2.tab-electronics
                            p Электросамокат
                            p Сертификат в SPA
                            p Цифровая камера
                            p Гироскутер
                            p Мини проектор
            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1.tab-dates
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                        .col-lg-1
                        .col-lg-1.tab-names
                            p Сергей1
                            p Сергей1
                            p Сергей1
                            p Сергей1
                            p Сергей1
                        .col-lg-3.tab-mail
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                        .col-lg-2.tab-electronics
                            p Электросамокат
                            p Сертификат в SPA
                            p Цифровая камера
                            p Гироскутер
                            p Мини проектор
            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1.tab-dates
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                        .col-lg-1
                        .col-lg-1.tab-names
                            p Сергей2
                            p Сергей2
                            p Сергей2
                            p Сергей2
                            p Сергей2
                        .col-lg-3.tab-mail
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                        .col-lg-2.tab-electronics
                            p Электросамокат
                            p Сертификат в SPA
                            p Цифровая камера
                            p Гироскутер
                            p Мини проектор
            .tabPanel
                tabs
                    .row.tabrow
                        .col-lg-1.tab-dates
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                            p 21.09.2019
                        .col-lg-1
                        .col-lg-1.tab-names
                            p Сергей3
                            p Сергей3
                            p Сергей3
                            p Сергей3
                            p Сергей3
                        .col-lg-3.tab-mail
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                            p personalemail@imunele.ru
                        .col-lg-2.tab-electronics
                            p Электросамокат
                            p Сертификат в SPA
                            p Цифровая камера
                            p Гироскутер
                            p Мини проектор
script(src='../script.js')