section(class="container-fluid")
    .container
        .row
            .prise-text.col-12
                h1 Лето с крепким иммунитетом!
                p Выиграй призы для всей семьи от Иму-защитников!
                a(href='#') Добавить чек
        .row
            .swiper-container.col-12.winPrise-slider
                .swiper-wrapper.winPrise-wrapper
                    .swiper-slide
                        img(src="img/logo-perekrestok.png" alt='Перекресток Лого')
                        p Регистрация чеков
                            br
                            span 29.08.2019 - 30.09.2019
                    .swiper-slide
                        img(src="img/logo-perekrestok.png" alt='Перекресток Лого')
                        p Регистрация чеков
                            br
                            span 29.08.2019 - 30.09.2019
                    .swiper-slide
                        img(src="img/logo-perekrestok.png" alt='Перекресток Лого')
                        p Регистрация чеков
                            br
                            span 29.08.2019 - 30.09.2019
                .swiper-button-next
                    img(src="img/slidenext.png" alt="next arrow")
                .swiper-button-prev
                    img(src="img/slideprev.png" alt="prev arrow")
        .row
            .prise-more.col-12
                p Узнать подробнее
                img(src="img/vector.png" alt='Стрелка')
